@import url("./common/fonts.css");
@import url("./common/colors.css");

/* Media Queries */

@media (min-width: 0px) and (max-width: 767px) {
  #container-home {
    height: calc(100vh - 55px) !important;
  }

  #contain-presentacion {
    height: calc(100vh - 55px) !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

#container-home {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;

  background-color: black;
}

#contain-presentacion {
  height: 100vh;

  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;

  -webkit-animation: smooth 1s ease-in;
  -moz-animation: smooth 1s ease-in;
  -o-animation: smooth 1s ease-in;
  -ms-animation: smooth 1s ease-in;
  animation: smooth 1s ease-in;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Firefox */
@-moz-document url-prefix() {
  #contain-presentacion {
    width: -moz-available;
  }
}
/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #contain-presentacion {
    width: -webkit-fill-available;
  }
}

@-webkit-keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
