@import url("./common/fonts.css");
@import url("./common/colors.css");

#body-lista-documentales {
  height: 100%;

  display: flex;
  flex-direction: column;
}

/* Notificacion Documentales */

.notificacion-documentales {
  font-family: common-regular, common-regular;
  color: var(--notificacion-documentales-color);
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 20px;
}
