@import url("./common/fonts.css");
@import url("./common/colors.css");

#body-miniseries {
  background-color: var(--body-miniseries-background);
  height: 100%;
  min-height: 100vh;

  padding: 20px;
}

.ancla:before {
  display: block;
  content: " ";
  margin-top: -56px;
  height: 56px;
  visibility: hidden;
}
